<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>














<style type="text/css">
  /*#more {display: none;}*/
		


a {
 text-decoration: none;
}

a.morelink {
  text-decoration:none;
  outline: none;
}
.morecontent span {
  display: none;
}
.comment {
  width: 400px;
  background-color: #f0f0f0;
  margin: 10px;
}




body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}


 

 

 /*td {*/
    
    /*margin: 12px 12px 12px 12px;*/
    /*padding: 15px;*/
    /*text-align: left;*/
/*}*/
/*table.test {*/
    /*border-collapse: separate;
    border-spacing: 10px;
    border-collapse: expression('separate', cellSpacing = '3px');
*/
/*}*/





.hide{
       display:none;
         }

   .show{
       display:block;
       }





      



</style>
</head>


<body class="w3-light-grey">

<div class="w3-content" style="max-width:1400px">

<header class="w3-container w3-center w3-padding-32"> 
  <h1><b style="text-transform: uppercase;">hey <%="#{$idnum}"%>!</b></h1>
</header>
<div style="margin-left: 1170px">
<button class="w3-button w3-black w3-padding-large">
        <a href="/blog/login">
          LOGOUT</a>
</button>
</div>
<div style="margin-top: -4%">
<button class="w3-button w3-black w3-padding-small">

        <a href="/blog/viewuserprofileposts">
           <p style="text-transform: uppercase;"> <%="#{$idnum}"%></p></a>
        </button>


<button class="w3-button w3-black w3-padding-large" id="postcreate" onclick="onButtonClick()">
CREATE OWN POST
</button>
</div>



<div id="div1">
<p id = "p1" class="hide">TITLE</p> 
<br><input type="text" id="texttitle" class="hide" /> <BR>
<p id = "p2" class="hide">YOUR POST</p><br>
<textarea id="textInput" class="hide" rows="10" cols="50" >
</textarea> <br>


<button class="w3-button w3-black w3-padding-large w3-hide" id="savepostsecond">SAVE</button>
</div>
<script type="text/javascript">




function onButtonClick(){
   // var div1 =  document.getElementById("div2");

   // div1.innerHTML="<input type='text'/>";
   document.getElementById('textInput').className="show";
   document.getElementById('savepostsecond').className="w3-button w3-black w3-padding-large w3-show";
   document.getElementById('texttitle').className="show";
   document.getElementById('p1').className="show";
   document.getElementById('p2').className="show";
 }



// $(document).ready(function() {
//   var showChar = 100;
//   var ellipsestext = "...";
//   var moretext = "more";
//   var lesstext = "less";
//   $('.more').each(function() {
//     var content = $(this).html();

//     if(content.length > showChar) {

//       var c = content.substr(0, showChar);
//       var h = content.substr(showChar-1, content.length - showChar);

//       var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

//       $(this).html(html);
//     }

//   });

//   $(".morelink").click(function(){
//     if($(this).hasClass("less")) {
//       $(this).removeClass("less");
//       $(this).html(moretext);
//     } else {
//       $(this).addClass("less");
//       $(this).html(lesstext);
//     }
//     $(this).parent().prev().toggle();
//     $(this).prev().toggle();
//     return false;
//   });
// });



//     $(document).ready(function(){
//   var maxLength = 300;
//   $(".show-read-more").each(function(){
//     var myStr = $(this).text();
//     if($.trim(myStr).length > maxLength){
//       var newStr = myStr.substring(0, maxLength);
//       var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
//       $(this).empty().html(newStr);
//       $(this).append(' <a href="javascript:void(0);" class="read-more">read more...</a>');
//       $(this).append('<span class="more-text">' + removedStr + '</span>');
//     }
//   });
//   $(".read-more").click(function(){
//     $(this).siblings(".more-text").contents().unwrap();
//     $(this).remove();
//   });
// });
    
    

</script>
<table>
 
<%
  if @posttitlecontent.present?
     @posttitlecontent.each do |i|
   
     @id = i['user_id']
     @post_date = i["id"]%>
    <%@updated_at = Post.getdatetime(@id,@post_date)
      @datetimevalue = @updated_at[0]['updated_at']%>
    <%=render partial: 'printtemp', locals:{i: i , datetimevalue: @datetimevalue}%>
        
 
    
   
  
   <%end%>
   <%end%>


</body>

</html>